<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nishant.vce">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NextActivity" />
        <activity android:name=".Dashboard" />
        <activity android:name=".selection" />
        <activity android:name=".sectionA" />
        <activity android:name=".sectionB" />
        <activity android:name=".section_a" />
        <activity android:name=".Web" />
        <activity android:name=".messages" />
        <activity android:name=".FacultyMain" />
        <activity android:name=".faculty_login"></activity>
    </application>

</manifest>